@import './_variables.scss';

* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
    background-color: $themeColorBlue;
}

body, button {
    font-family: 'Open Sans';
}

#mobileMenuButton {
    display: none;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0px;
    padding: 10px;
    @media (max-width: 800px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        z-index: 100000;

        .menuOpen & {
            right: 10px;
        }
    }

    div {
        width: 30px;
        height: 6px;
        background-color: #000;
    }
}

#sideBar {
    background-color: $themeColorYellow;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    width: 300px;
    padding: 10px;
    float: left;
    position: relative;
    display: block;

    h1 {
        font-family: 'Srisakdi';
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 1px solid #bbb;
    }

    .gameTurnNotation {
        width: 100%;
        ol {
            height: 300px;
            background-color: lighten($themeColorYellow, 2%);
            overflow-y: auto;
            margin: 10px 0px 0px;
            padding: 10px;
            list-style-position: inside;
            border: 1px solid rgba(0, 0, 0, 0.2);
        }
        li {
            font-size: 12px;
            line-height: 22px;
            color: #888;
            word-break: break-word;
            &:first-of-type {
                color: #000;
            }
            img {
                width: 14px;
                height: 14px;
                position: relative;
                top: 2px;
            }
        }
        &:hover li {
            color: #000;
        }
    }

    .buttons {
        position: absolute;
        bottom: 10px;
        width: 100%;
        height: 190px;
        margin: -10px;
        padding: 0px 10px;
        button {
            margin: 10px 0px 0px;
            width: 100%;
            height: 50px;
        }
    }

    @media (max-width: 800px) {
        width: 220px;
        position: fixed;
        z-index: 10000;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
        font-size: 14px;

        display: none;
        .menuOpen & {
            display: block;
            overflow-y: auto;
        }

        h1 {
            font-size: 18px;
        }
    }
    @media (max-height: 780px) {
        & {
            overflow-y: auto;
        }
        .gameTurnNotation {
            li {
                color: #000;
            }
        }
        .buttons {
            position: static;
            height: auto;
            margin: 0px;
            padding: 0px 0px 10px;
        }
    }
}

#gameWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
    padding: 20px 10px 0px;
    width: calc(100% - 300px);
    min-width: 300px;

    @media (max-width: 800px) {
        width: 100%;
    }
}

.gridCell {
    width: 36px;
    height: 36px;
    padding: 0px;

    img {
        position: relative;
        top: 1px;
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        &.castleIcon {
            filter: invert(.8) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.25)) sepia(70%);
        }
    }

    @media (max-height: 700px), (max-width: 700px) {
        width: 28px;
        height: 28px;
    }
    @media (max-height: 600px), (max-width: 400px) {
        width: 20px;
        height: 20px;
        img {
            width: calc(100% - 4px);
            height: calc(100% - 4px);
        }
    }
}

.gridCell:not(.disabled) {
    text-align: center;
    vertical-align: middle;
    position: relative;
    background-color: $lightColor;
    cursor: default;

    &.dark {
        background-color: $darkColor;
    }
    &.activityHighlight {
        background-color: $highlightLightColor;
        &.dark {
            background-color: $highlightDarkColor;
        }
        &.firstActivityHighlight {
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
            z-index: 4;
        }
    }
    &.moveable {
        z-index: 1;
        &:before {
            display: block;
            position: absolute;
            content: "";
            top: 2px;
            left: 2px;
            background-color: #afa;
            width: 5px;
            height: 5px;
            border-radius: 3px;
        }
    }

    .isMyTurn & {
        &.isMyPiece, &.isLegalOption {
            cursor: pointer;
        }
        &.isLegalOption {
            background-color: $legalColor;
        }
    }

    .isMyTurn &.isSelected {
        outline: 2px solid #ff0;
        z-index: 5;
        background-color: $selectedPieceColor;
    }
}

// TODO make grid labels less overwhelming to look at
.gridLabel {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.25);
    .gridCell.isSelected &,
    .gridCell.isLegalOption & {
        color: rgba(0, 0, 0, 0.5);
    }

    @media (max-height: 600px), (max-width: 400px) {
        color: rgba(0, 0, 0, 0.5);
    }
}

.messageDiv {
    text-align: center;
    width: 500px;
    margin: 10px 0px 0px;
    font-weight: bold;
    &.gameover {
        color: #000;
        &.draw {
            color: #c60;
        }
        .whitePlayer &.whiteWins,
        .blackPlayer &.blackWins {
            color: #0a0;
        }
    }
    @media (max-width: 800px) {
        width: 100%;
    }
}

.buttonsWrap {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0px;
}

button {
    height: 50px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 3px;
    margin: 0px 10px;
    &:not(:disabled) {
        cursor: pointer;
    }
    &.submitTurnButton {
        width: 200px;
        &:not(:disabled) {
            background-color: $legalColor;
        }
    }
    &.undoButton {
        width: 80px;
    }
}

.capturedPieces {
    margin: 10px 0px;
}

.capturedPiecesIcons {
    img {
        width: 24px;
        height: 24px;
        position: relative;
        top: 2px;
        left: -4px;
        @media (max-width: 800px) {
            width: 16px;
            height: 16px;
        }
    }
}
