@import "~bootstrap/scss/bootstrap";
@import './_variables.scss';

body {
    background-color: #eff;
    font-family: 'Open Sans';
}

.jumbotron {
    background-color: #ffe;
}

h1 {
    font-family: 'Srisakdi';
    font-weight: 700;
    font-size: 6em;
}

.custom-control-label {
    img {
        height: 20px;
        position: relative;
        top: -2px;
    }
}

#createGameBtn {
    display: block;
    margin-top: 1rem;
}

@include media-breakpoint-down(md) {
    h1 {
        font-size: 4em;
    }
}

@include media-breakpoint-down(sm) {
    h1 {
        font-size: 2em;
    }
}
